<html ng-app="listaCompras">

<head>
    <meta charset="UTF-8">
    <title>Lista de Compras</title>
    <link rel="stylesheet" href="./css/alertify.min.css" />
    <link rel="stylesheet" href="./css/alertify-default-theme.min.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/label-float.css" />
    <script src="./js/bundle.js"></script>
</head>

<body class="bg-light" ng-controller="lcController">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Lista de Compras</h2>
            <p class="lead">Aplicativo de testes desenvolvido para o processo seletivo da Betha Sistemas.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form name="produtoForm">
                    <h3>Produtos</h3>
                    <!--TABELA DE PRODUTOS-->
                    <table class="table table-striped table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th>Cód.</th>
                                <th>Nome</th>
                                <th>Preço</th>
                                <th style="text-align: center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="produto in produtos">
                                <td>{{ produto.id }}</td>
                                <td>{{ produto.nome }}</td>
                                <td>R$ {{ produto.precoUnitario | number:2 }}</td>
                                <td style="text-align: center">
                                    <img src="./img/trashbin.png" ng-click="removerProduto(produto)" />
                                    <img src="./img/addtocart.png" ng-click="adicionarAoCarrinho(produto)" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--SPINNER DA TABELA DE PRODUTOS-->
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-secondary" role="status" id="spinnerProdutos">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                    <p style="text-align: center" ng-show="produtos.length == 0">Nenhum produto foi cadastrado.</p>
                    <hr style="margin-bottom: .2rem;" />
                    <div class="row">
                        <div class="col-md-5">
                            <div class="label-float">
                                <input type="text" placeholder=" " ng-model="produto.nome" name="nome"
                                    ng-required="true" />
                                <label>Nome</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="label-float">
                                <input type="text" placeholder=" " ng-model="produto.precoUnitario" name="preco"
                                    ng-required="true" ng-pattern="/^[$]?[0-9]*(\.)?[0-9]?[0-9]?$/" />
                                <label>Preço Unitário</label>
                            </div>
                        </div>
                        <!--BTN SALVAR PRODUTO-->
                        <div class="col-md-3 float-right">
                            <button class="btn btn-primary btn-sm" ng-click="adicionarProduto(produto)">Inserir
                                Produto</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <h3>Carrinho</h3>
                <!--TABELA DO CARRINHO-->
                <table class="table table-striped table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Produto</th>
                            <th>Nome</th>
                            <th>Preço</th>
                            <th>Qtd.</th>
                            <th>Valor Total</th>
                            <th style="text-align: center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="produto in carrinho.produtos">
                            <td>{{ produto.produtoId }}</td>
                            <td>{{ produto.nome }}</td>
                            <td>R$ {{ produto.precoUnitario | number:2 }}</td>
                            <td>{{ produto.quantidade | number:2 }}</td>
                            <td>R$ {{ produto.valorTotal | number:2 }}</td>
                            <td style="text-align: center">
                                <img src="./img/removefromcart.png" ng-click="removerProdutoCarrinho(produto)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="text-align: center" ng-show="carrinho.produtos.length == 0">Nenhum produto foi adicionado ao
                    carrinho.</p>
                <hr style="margin-bottom: .2rem;" />
                <div class="row">
                    <div class="col-md-8">
                        <h6>Valor Total: R$ {{carrinho.valorTotal | number:2}}</h6>
                    </div>
                    <div class="col-md-4">
                        <!--BTN SALVAR CARRINHO-->
                        <button class="btn btn-primary btn-sm float-right" ng-click="adicionarLista(carrinho)">Salvar
                            Carrinho</button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h3 style="text-align: center">Listas Salvas</h3>
                <!--TABELA DE LISTAS DE COMPRA SALVAS-->
                <table class="table table-striped table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Código</th>
                            <th>Produtos</th>
                            <th>Valor Total</th>
                            <th style="text-align: center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="lista in listasCompra">
                            <td>{{ lista.id }}</td>
                            <td style="white-space: pre-wrap;">{{ lista.dscProdutos }}</td>
                            <td>R$ {{ lista.valorTotal | number:2 }}</td>
                            <td style="text-align: center">
                                <img src="./img/trashbin.png" ng-click="removerLista(lista)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--SPINNER DA TABELA DE LISTAS DE COMPRA-->
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-secondary" role="status" id="spinnerlistasCompra">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <p style="text-align: center" ng-show="listasCompra.length == 0">Nenhuma lista foi cadastrada.</p>
            </div>
        </div>
    </div>
</body>

</html>